/* box { */
/*     background-color: yellow; */
/* } */
/* button{ */
/*     background-color: red; */
/* } */
/* box { */
/*     background-color: yellow; */
/* } */

/* label { */
/*     background-color: green; */
/* } */

#box_afficher{
  background-color: rgba(246, 246, 246, 0.8);
  border-radius: 5px;
}

#name{
  background-color: rgba(232, 232, 232, 0.8);
  border-radius: 5px;
}
#lg{
  border: 10px solid rgba(246, 246, 246, 0.8);
  border-radius: 5px;
}

button{
  border-radius: 5px;
}

entry.search{
  border-radius: 5px;
}


